<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>채팅 대기방</title>
<link rel="stylesheet" href="/user/css/waitChatroom.css">
</head>
<body>
    <th:block layout:fragment="mainContent">
    	<div class="l-main-content">
	        <div class="content">
        		<div id="chatBox" style="margin-top: 100px;">        		
		            <div style="display: flex;">
		                <h3 style="color: black; flex: 1;">
		                    <span th:if="${room.type} == 'text'">| 텍스트 싸움 대기방</span>
		                    <span th:if="${room.type} == 'voice'">| 음성 싸움 대기방</span>
		                </h3>                
		                <div id="btnDiv" style="flex: 1;">
		                    <button id="readyBtn" >READY</button>
		                    <div id="countDiv">
		                        <span id="countReady">-</span> / <span id="countConnect">-</span>
		                    </div>
		                </div>
		                <div style="flex: 1;"></div>
		            </div>
		            <div id="chatView">
		            </div>
		            <div id="chatSend">
		                <input id="message">
		                <button id="msgBtn">전송</button>
		            </div>
        		</div>      	
        	</div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


        <script th:inline="javascript">

            // 채팅박스
            let chatBox = document.getElementById('chatView');

            // 소켓관련
            let stompClient = null;

            // 채팅방 아이디
            let room = /*[[${room}]]*/null;

            // 채팅방 타입
            let type = /*[[${type}]]*/null;

            // 내 이름
            let sender = '밍주이름';

            // 내 아이디
            let senderEmail = document.cookie;
        
        </script>
        <script th:src="@{/user/js/waitChatroom.js}"></script>

    </th:block>
</body>
</html>