<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" href="member/css/loginStyle.css">
	<link rel="stylesheet" href="member/mypage/css/app.css">
	<style type="text/css">
		.card-body h5, .card-body h6{
			display: inline-block;
		}
		.text {
			margin-left: 1.5em;
		}
		.btn {
			border-radius: 30px;
			font-weight: 700;
		}
	</style>
</head>

<body>
	<th:block layout:fragment="mainContent">
		<div class="l-main-content">
			<div class="content">

				<!----------------------- Main Container -------------------------->
				<div class="d-flex justify-content-center align-items-center min-vh-100">

					<!----------------------- Login Container -------------------------->
					<div class="row rounded-5 p-4 bg-#101010 shadow box-area" style="background-color: #1c1d22">
						<div class="card p-3" style="margin-bottom: 0;">
		                    <div class="card-body">
		                        <div class="d-flex justify-content-center align-items-center flex-column"
		                        	style="margin-bottom: 1.5rem;">
		                            <div class="avatar avatar-2xl">
		                                <img src="member/mypage/images/2.jpg" alt="Avatar">
		                            </div>
		
		                            <h3 class="mt-3" style="color: #e3e2e6">여기는 회원 이메일</h3>
		                            <p class="text-small">카카오 로그인</p>
		                        </div>
		                        
		                        <div class="d-flex align-items-center flex-column"
		                        	style="justify-content: flex-start;">
			                        <div class="card col-lg-7" style="background-color: #1c1d22; border-radius: 45px;">
						                <div class="card-body py-4 px-4">
						                    <div class="d-flex align-items-center" style="justify-content: space-between;">
						                        <div class="avatar avatar-xl">
						                            <img src="member/mypage/images/verified.png" alt="Face 1">
						                        </div>
						                        <div class="text" style="color: #e3e2e6;">
						                        	<h6 class="mb-0">MBTI</h6>    
						                        </div>
						                        <div class="text" style="color: #e3e2e6;">
							                            <h5 class="font-bold mb-0" 
							                            	style="font-size: x-large;">ISTP</h5>
						                        </div>
						                        <div style="margin-left: auto;">
						                        	<a href="#" class="btn btn-light"
						                        		style="border-radius: 30px; font-weight: 700; color: #e3e2e6; padding: .6em 1.5em .6em 1.5em">검사하기</a>
						                        </div>
						                    </div>
						                </div>
						            </div>
						    	</div>
						    	
						    	<div class="row" style="justify-content: center;">
					                <div class="col-6 col-lg-2 col-md-6">
					                    <div class="card" style="background-color: #1c1d22;">
					                        <div class="card-body px-4 py-4">
					                            <div class="row">
					                                <div class="col-md-4 col-lg-12 d-flex" style="justify-content: center;">
					                                    <div class="stats-icon mb-3" style="background-color: #f5c85e">
					                                     
					                                    </div>
					                                </div>
					                                <div class="col-md-4 col-lg-12" style="text-align: center;">
					                                    <h6 class="font-extrabold mb-0">WIN</h6>
					                                    <h6 class="text-muted font-semibold mb-0">50</h6>
					                                </div>
					                            </div> 
					                        </div>
					                    </div>
					                </div>
					                <div class="col-6 col-lg-2 col-md-6">
					                    <div class="card" style="background-color: #1c1d22;"> 
					                        <div class="card-body px-4 py-4">
					                            <div class="row">
					                                <div class="col-md-4 col-lg-12 d-flex" style="justify-content: center;">
					                                    <div class="stats-icon mb-3" style="background-color: #9da6bb;">
					                                        <i class="iconly-boldProfile"></i>
					                                    </div>
					                                </div>
					                                <div class="col-md-4 col-lg-12" style="text-align: center;">
					                                    <h6 class="font-extrabold mb-0">DRAW</h6>
					                                    <h6 class="text-muted font-semibold mb-0">20</h6>
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-6 col-lg-2 col-md-6">
					                    <div class="card" style="background-color: #1c1d22;">
					                        <div class="card-body px-4 py-4">
					                            <div class="row">
					                                <div class="col-md-4 col-lg-12 d-flex" style="justify-content: center;">
					                                    <div class="stats-icon mb-3" style="background-color: #bda695;">
					                                        <i class="iconly-boldAdd-User"></i>
					                                    </div>
					                                </div>
					                                <div class="col-md-4 col-lg-12" style="text-align: center;">
					                                    <h6 class="font-extrabold mb-0">LOSS</h6>
					                                    <h6 class="text-muted font-semibold mb-0">15</h6>
					                                </div>
					                            </div>
					                        </div>
					                    </div>
					                </div>
					            </div>
					            
					            <div class="d-flex align-items-center flex-column">	
					            	<div class="col-lg-7 py-2">					            	
										<button class="btn btn-dark px-6 py-3"> 탈퇴하기 </button>
										<button class="btn btn-primary px-6 py-3" style="float: right;"> 로그아웃 </button>
					            	</div>			            	
								</div>
		                    </div>
		                </div>
					</div>
				</div>

			</div>
		</div>
	</th:block>

</body>

</html>