@charset "UTF-8";

/* 내가 보낸 채팅 */
.me {
	background-color: rgb(18, 99, 248);
	color: white;
}

/* 상대가 보낸 채팅 */
.other {
	background-color: lightgray;
	color: rgb(35, 35, 35);
}

.connectAlert {
	color: gray;
	text-align: center;
	padding: 5px;
}

/* 말풍선 글자색 */
span {
	color: black;
}

/* 타이머 */
.timerSircle {
	min-width: 60px;
	max-width: 60px;
	max-height: 30px;
	border: 5px solid rgb(211 211 211);;
	border-radius: 50%;
	padding: 15px 0px;
	font-size: 1.25em;
	color: black;
	font-weight: bolder;
}

.swal2-confirm, .swal2-cancel{
	width: 150px;
    height: 100px;
}

@media only screen and (max-width: 768px) {
	
}