@charset "UTF-8";

/* 내가 보낸 채팅 */
.me {
	background-color: rgb(18, 99, 248);
	color: white;
}

/* 상대가 보낸 채팅 */
.other {
	background-color: lightgray;
	color: rgb(35, 35, 35);
}

.connectAlert {
	color: gray;
	text-align: center;
	padding: 5px;
}

/* 타이머 */
.timerSircle {
	position: absolute;
	top: 15%;
	font-size: 20px;
	position: sticky;
	text-align: center;
	z-index: 1;
	color: #8c8e92;
	display : none;
}

.countConnect {
    font-weight: bolder;
    font-size: larger;
    color: rgb(18, 99, 248);
}



@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

@media only screen and (max-width: 768px) {
	
}