@charset "UTF-8";

    /* 내가 보낸 채팅 */
    .me {
        background-color: rgb(18, 99, 248); 
        color: white;
    }

    /* 상대가 보낸 채팅 */
    .other {
        background-color: lightgray; 
        color: rgb(35, 35, 35);
        cursor: pointer;
    }

    

    .connectAlert {
      color: gray;
      text-align: center;
      padding: 5px;
    }

    /* 말풍선 글자색 */
    span {
        color: white;
    }

   

    /* 준비 버튼 영역 */
    #btnDiv {
        /* background-color: pink; */
        width: 10%;
        height: 80px;
        display: flex;
        flex-direction: column;
    }

    /* 준비버튼 */
    #readyBtn {
        padding: 10px 20px;
        border-radius: 10px;
        border: 0;
        /* background-color: rgb(255, 56, 86); */
        /* background-color: rgb(43, 43, 238); */
        letter-spacing: 1.5px;
        font-size: 15px;
        transition: all 0.3s ease;
        /* box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px; */
        cursor: pointer;
        width: 50%;
        margin: 0 auto;
        font-weight: bold;
      }

      .unreadyStatus {
        color: white;
        background-color: rgb(18, 99, 248);
        box-shadow: rgb(16, 81, 201) 0px 10px 0px 0px;
      }

      .unreadyStatus:hover {
        box-shadow: rgb(16, 81, 201) 0px 7px 0px 0px;
      }

      .unreadyStatus:active {
        background-color: rgb(18, 99, 248);
        /*50, 168, 80*/
        box-shadow: rgb(16, 81, 201)  0px 0px 0px 0px;
        transform: translateY(5px);
        transition: 200ms;
      }

      .readyStatus {
        color: rgb(18, 99, 248);
        background-color: lightgray;
        box-shadow: rgb(157, 156, 156) 0px 10px 0px 0px;
      }

      .readyStatus:hover {
        box-shadow: rgb(157, 156, 156)  0px 7px 0px 0px;
      }

      .readyStatus:active {
        background-color: lightgray;
        /*50, 168, 80*/
        box-shadow: rgb(157, 156, 156)  0px 0px 0px 0px;
        transform: translateY(5px);
        transition: 200ms;
      }

      #countReady, .countConnect {
        font-weight: bolder;
        font-size: larger;
        color: rgb(18, 99, 248);
      }

      #countDiv {
        color: white;
        text-align: center;
        margin-top: 10px;
      }




