/* 2024-02-04 전유진 추가 */
@font-face {
	font-family: "NotoSansKR";
	src: url("./fonts/NotoSansKR-Regular.ttf") format("truetype");
}

*{
	font-family: "NotoSansKR";
}
.custom-fs-5 {
	font-size: 0.9em;
}
.custom-fs-6 {
	font-size: 0.8em;
}
.search-wrapper {
    border: var(--bs-border-width) solid #DFE5EF;
    border-radius: 7px;
}
.search-wrapper .form-select {
    border: none;
    border-right: var(--bs-border-width) solid #DFE5EF;
    border-radius: 7px 0 0 7px;
}
.search-wrapper .form-control {
    border: none;
    width: 30vw;
    border-radius: 0;
}
.search-wrapper .search-input-wrapper {
    width: 20vw;
    min-width: 385px;
}
.search-wrapper .search-input-wrapper button {
    border: none;
    border-radius: none;
    background-color: transparent;
}
.search-wrapper .search-input-wrapper .ti {
    font-size: 18px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.input-radio {
    width: 100%;
    padding-left: 10px;
}

.card-title {
	display: flex;
    align-items: center;
}
.card-title::before {
    content: "";
    display: inline-block;
    width: 0.2em;
    height: 1em;
    background-color: var(--bs-blue);
    margin-right: 0.5rem;
}
th, td {
	text-align: center;
}
td {
	vertical-align: middle;
}

.pagination i {
	border: 1px solid #5a6a85;
	color: #5a6a85;
}
.pagination i:hover {
	background: #5a6a85;
	color: #fff;
}
.pagination strong {
	color: #5d87ff;
}
.pagination a {
	color: #5a6a85;
}
.pagination a:hover {
	color: #5d87ff;
}

/* .member-stop {
	display: none;
} */
/* .input-text {
	display: none;
} */
/* .bg-outline {
	border: 1px solid #5a6a85;
  	color: #5a6a85;
  	cursor: pointer;
}
.bg-outline:hover {
	background: #5a6a85;;
	color: #fff;
} */
/* .badge-active {
	background: #5a6a85;;
	color: #fff;
} */



.member-stop {
	display: none;
}
.member-stop input[type=radio]{
    display: none;
}
.member-stop input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #333;
    text-align: center;
}
.member-stop input[type=radio]+label{
    border: 1px solid #5a6a85;
  	color: #5a6a85;
  	cursor: pointer;
}
.member-stop input[type=radio]:hover+label{
	background: #5a6a85;;
	color: #fff;
}
.member-stop input[type=radio]:checked+label{
    background: #5a6a85;;
	color: #fff;
}