<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- <title>Insert title here</title> -->
</head>
<body>
	<th:block th:fragment="headerFragment">
		<!-- <div class="perspective effect-rotate-left">
			<div class="container">
				<div id="viewport" class="l-viewport"> -->
						<header class="header">
							<a class="header--logo" href="/"> <img src="/img/logo.png" alt="Global">
								<p>티격태격</p>
							</a>
							<!-- <div class="header--nav-toggle"> -->
								<a class="header--nav" href="loginpage">
									<span></span>
								</a>
							<!-- </div> -->
						</header>
<!-- 				</div>
			</div>		
		</div> -->
	</th:block>
</body>
</html>